.post {
  display: flex;
  gap: 4rem;

  > section {
    box-sizing: border-box;
    min-width: 0;
    padding: 10rem 4rem 0 4rem;
    background-color: var(--background-page-white);
    border-left: 1px solid var(--border-main);
    border-right: 1px solid var(--border-main);

    li {
      list-style-type: disc;
    }
  }

  > aside {
    padding-top: 10rem;
    width: calc(33.33% - 4rem);
    position: sticky;
    top: 0;
    align-self: flex-start;

    li {
      margin-bottom: 2rem;
    }
  }
}

.title {
  display: block;
  font-size: 3rem;
  margin-bottom: 3rem;
}
