@import '@/styles/variables.scss';

.post {
  display: flex;
  gap: 4rem;

  > section {
    box-sizing: border-box;
    min-width: 0;
    min-height: 100vh;
    padding: 10rem 4rem;
    background-color: var(--background-page-white);
    border-left: 1px solid var(--border-main);
    border-right: 1px solid var(--border-main);

    @include respond($tablet) {
      padding: 6rem 1rem;

      > main {
        padding: 0;
      }
    }

    > main li {
      list-style-type: disc;
    }
  }

  > aside {
    padding-top: 10rem;
    width: calc(33.33% - 6rem);
    position: sticky;
    top: 0;
    align-self: flex-start;

    @include respond($tablet) {
      display: none;
    }
  }
}

.tags > li {
  margin-right: 0.5rem;
  display: inline-block;
}

.title {
  display: block;
  font-size: 3rem;
  margin: 0.5rem 0 3rem;

  @include respond($tablet) {
    font-size: 2.5rem;
  }
}

.date {
  font-size: 1.1rem;
}

.toc {
  li {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: var(--text-light);
  }

  li:hover,
  li:focus,
  li.active {
    color: var(--text-main);
  }
}

// notion custom style
.notionCustom {
  > div:first-child + div {
    margin-top: 1.1rem;
  }
}

.giscus {
  margin-top: 4rem;
}
