:root {
  --background-page-white: #fffff9;
  --background-page: #fffef4;
  --background-editor: #eeeeee;
  --background-grey: #eeeeee;

  --text-main: #333333;
  --text-sub: #505050;
  --text-light: #8e8e8e;
  --text-white: #fffff9;

  --border-main: #dddddd;

  --purple: #cc9af3;
  --purple-bg: #ecd4ff;

  --yellow: #fce740;
  --yellow-bg: #fff8bc;

  --blue: #9abef3;
  --blue-bg: #d2e4ff;

  --green: #8ed3e2;
  --green-bg: #d5f0f7;

  --red: #fda6a6;
  --red-bg: #fcdfdf;

  --orange: #ffbb6f;
  --orange-bg: #ffe2c1;

  --brown: #c69a53;
  --brown-bg: #e3d0b2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-home: #fffff9;
    --background-page: #fffef4;
    --background-editor: #f9f9f3;
    --background-grey: #dddddd;

    --text-main: #333333;
    --text-sub: #505050;
    --text-light: #8e8e8e;

    --border-main: #dddddd;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text-main);
  font-size: 1.4rem;
  font-weight: 400;
  background-color: var(--background-page);
  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font: inherit;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
